{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

<script type="text/javascript" src="{{STATIC_PREFIX}}/js/jplayer.js" />


<div id="%(playerdivid)" class="jp-jplayer"></div>
    <script type="text/javascript">
    //<![CDATA[
    $(document).ready(function(){
        $("#jquery_jplayer_1").jPlayer({
            ready: function () {
                $(this).jPlayer("setMedia", {
                    {{filetype}}: "{{url}}"
                },
            swfPath: "../js",
            supplied: "{{filetype}}"
            }).jPlayer("load");   
        });
    });
    //]]>

